.OptionDetailWrap{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 4px;
    color: #353535;
    line-height: 18px;
    vertical-align: middle;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    border-top: 1px solid #e5e5e6;
}
.product{
    display: flex;
    flex-direction: column;
}
.groupName, .artistName{
    display: block;
    color: #999;
    font-style: normal;
    font-size: 12px;
}
.closeBtn{
    position: absolute;
    right: 20px;
    top: 17px;
    cursor: pointer;
}
.productCount{
    margin: auto 0;
}
.productCountInput{
    border: 0;
    padding: 0 5px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    width: 30px;
}
.CountBtn{
    border-radius: 50%;
    border: 1px solid #d8d9df;
}
.priceWrap{
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #2d2f43;
    text-align: right;
}
.priceWrap span{
    font-size: 17px;
    font-weight: 700;
    color: #2d2f43;
    text-align: right;
    letter-spacing: 0.8px;
}